.splash {
    color: #c44569;
    font-size: min 500px;
    text-decoration: none;
    color: #303952; 
    font-family: 'Anek Bangla', sans-serif;
    text-align: center;
}

.buttons {
    text-align: center;
}